.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  margin: 0 0 5px -15px;
  padding: 5px;
  background-color: #c4a747;
  background-image: linear-gradient(315deg, #c4a747 0%, #817036 100%);
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: linear-gradient(315deg, #28313b 0%, #000 100%);
  box-shadow: 2px 2px 5px 2px #909090;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 2px 2px 5px 2px #909090;
  cursor: pointer;
}
