html {
  display: table;
  margin: 0 auto;
  background: #28313b;
}

body {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  margin: 0 auto;
}

h1 {
  margin: 0 10px 0px 0;
  padding: 0px;
  font-size: 32px;
  font-family: Arial;
}

input {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 32px;
  width: 65px;
  text-align: center;
}

input:required:invalid {
  border: 2px solid red;
  -moz-box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label {
  margin: 0 10px 15px 0;
  font-size: 24px;
  display: block;
  font-weight: bold !important;
  font-family: Arial;
}

span {
  margin: 0 0 0 10px;
  font-size: 32px;
  font-family: Arial
}

select {
  margin: 0 10px 10px 0;
  padding: 5px;
  font-size: 32px;
  width: 350px;
}

hr.dotted {
  border-top: 1px
  dashed;
  margin: 30px 0 20px 0;
}

.measurement {
  display: inline;
  margin: 0 10px 20px 10px;
  padding: 5px;
  font-family: Arial;
  font-size: 32px;
  color: #817036;
  width: 150px;
}

.points {
  display: inline;
  margin: 0 10px 20px 0;
  padding: 5px;
  font-size: 32px;
  text-align: right;
  float: right;
}

stat {
  font-size: 32px;
  font-family: Arial;
}

.PTsegment {
  background: #fff;
  border-radius: 10px;
  margin: 0 0 15px 0;
  padding: 15px 20px 15px 20px;
}

.tabClass {
  margin: -5px 10px 15px -10px;
  font-size: 24px;
  font-weight: bold !important;
  font-family: Arial;
}

/* Small devices (portrait tablets and large phones, 300px and up) */
@media only screen and (min-width: 300px) and (max-width: 600px) {
  h1 {
    margin: 0 10px 0 0;
    padding: 0px;
    font-size: 24px;
    font-family: Arial;
  }

  .points {
    margin: 0 5px 0 0;
    float: right;
  }

  .measurement {
    display: inline;
    width: 0;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 18px;
  }

  .PTsegment {
    background: #fff;
    border-radius: 10px;
    margin: 0 0 15px 0;
    padding: 10px 7px 15px 7px;
  }

  .tabClass {
    margin: 0px 0px 15px 0px;
    font-size: 24px;
    font-weight: bold !important;
    font-family: Arial;
  }

  .inWindow {
    width: 93vw;
    font-style: Arial;
  }

};
