html {
  display: table;
  margin: 0 auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  margin: 0 auto;
}

h1 {
  margin: 0 10px 0px 0;
  padding: 0px;
  font-size: 42px;
  font-family: Arial
}

input {
  margin: 0 10px 20px 0;
  padding: 5px;
  font-size: 36px;
  width: 85px
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label {
  margin: 0 10px 5px 0;
  font-size: 24px;
  display: block;
  font-weight: bold !important;
  font-family: Arial;
}

span {
  margin: 0 0 0 10px;
  font-size: 42px;
  font-family: Arial
}

stat {
  margin: 0 0px 0px 10px;
  font-size: 36px;
  font-family: Arial;
}

.points {
  display: inline;
  text-align: right;
  float: right;
}

select {
  margin: 0 10px 10px 0;
  padding: 5px;
  font-size: 36px;
  width: 350px
}

hr.dotted {
  border-top: 1px
  dashed
}

.measurement {
  display: inline;
  margin: 0 10px 20px 0;
  padding: 5px;
  font-family: Arial;
  font-size: 36px;
  width: 150px
}
