html {
  margin: 0;
  background: #222;
}

body {
  margin: 0;
}

.containerBODY {
  padding-top: 65px;
  display: table;
  margin: 0 auto;
}

h1 {
  margin: 0 10px 0px 0;
  padding: 0px;
  font-size: 32px;
  font-family: Arial;
}

input {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 32px;
  width: 65px;
  text-align: center;
}

input:required:invalid {
  border: 2px solid red;
  -moz-box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label {
  margin: 0 10px 15px 0;
  font-size: 24px;
  display: block;
  font-weight: bold !important;
  font-family: Arial;
}

span {
  margin: 0 0 0 10px;
  font-family: Arial
}

select {
  margin: 0 10px 10px 0;
  padding: 5px;
  font-size: 32px;
  width: 350px;
}

hr.dotted {
  border-top: 1px
  dashed;
  margin: 30px 0 20px 0;
}

.measurement {
  display: inline;
  margin: 0 10px 20px 10px;
  padding: 5px;
  font-family: Arial;
  font-size: 32px;
  color: #817036;
  width: 150px;
}

.points {
  display: inline;
  margin: 0 10px 20px 0;
  padding: 5px;
  font-size: 32px;
  text-align: right;
  float: right;
}

stat {
  font-size: 32px;
  font-family: Arial;
}

.PTsegment {
  width: 625px;
  background: #fff;
  border-radius: 10px;
  margin: 0 0 15px 0;
  padding: 15px 20px 15px 20px;
  font-family: Arial;
}

.tabClass {
  margin: -5px 10px 15px -10px;
  font-size: 24px;
  font-weight: bold !important;
  font-family: Arial;
  color: black;
  background-color: #fff;
  border: 0px;
  border-bottom: 0px;
  width: 157px;
}

.ACFTscore {
  margin: 0 0 75px 0;
}

.active {
  color: BlueViolet;
  background-color: #fff;
  border: 0px;
  border-bottom: 3px solid BlueViolet;
  width: 157px;
}

#defaultOpen {
  color: Blue;
  background-color: #fff;
  border: 0px;
  border-bottom: 3px solid Blue;
  width: 157px;
}

#defaultOpenClose {
  color: black;
  background-color: #fff;
  border: 0px;
  border-bottom: 0px;
  width: 157px;
}

/* Mobile menu ////////////////////////////////////////////////////////////// */

.navbar {
  overflow: hidden;
  position: fixed;
  margin: 0;
  top: 0;
  z-index: 100;
}

.navbarStripe {
  background-color: #000;
  position: fixed;
  margin: 0;
  top: 0;
  height: 46px;
  width: 100%;
  z-index: 99;
}

.navbar a {
  float: left;
  display: block;
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.navbar a:hover {
  color: gold;
}

/* overlay menu ///////////////////////////////////////////////////////////// */
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 20%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 10px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
  font-family: Arial;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  color: Tomato;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Small devices (portrait tablets and large phones, 300px and up) //////////////////////////////////////////// */
@media only screen and (min-width: 300px) and (max-width: 600px) {
  h1 {
    margin: 0 10px 0 0;
    padding: 0px;
    font-size: 24px;
    font-family: Arial;
  }

  .points {
    margin: 0 5px 0 0;
    float: right;
  }

  .measurement {
    display: inline;
    width: 0;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 18px;
  }

  .PTsegment {
    min-width: 300px;
    width: auto;
    padding: 10px 7px 15px 7px;
  }

  .tabClass {
    margin: 0px 0px 15px 0px;
    font-size: 24px;
    font-weight: bold !important;
    font-family: Arial;
  }

  .inWindow {
    width: 93vw;
    font-style: Arial;
  }

  /* Navbar */

  .containerBODY {
    padding-top: 0px;
  }

  .navbar {
    top: auto;
    bottom: 0;
  }

  .navbarStripe {
    top: auto;
    bottom: 0;
  }

};
